.intro-row{
  
    left: 607px;
    top: 164px;
    border-radius: 0px; 
    padding-right: 80px;
    padding-left: 80px;

}

.header{
    padding-top: 150px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 79px;
    color: #FFFFFF;
}
.info-content{
    padding-top: 50px;
    color: #FFFFFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.hiring{
    color:#E35F0D;
    font-size: 30px;
    text-decoration: none;
    font-weight: 700px;
    
}

.info-image{
    margin-top: 100px;
    
    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
        .info-image {
        background-image: url(../../images/new-employee-removebg.png);
        }
    }
} 
.join-header{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: rgba(237, 247, 250, 0.7);
    padding-top: 120px;

}
.search{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(227, 95, 13, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10p
}
.row-items{
    padding: 40px;
}

/* featured devs section  */
.featured-devs-header{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 43px;
    text-align: right;
    padding-top: 100px;
    color: #FFFFFF;
}

.featured-devs-intro{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 43px;
    padding-top: 20px;
    text-align: right;
    color: rgba(255, 255, 255, 0.8);
}

.card-items{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.25);
    /* background: rgba(0, 0, 0, 0.25); */
}

.dev-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border-radius: 100px;
    top: -100px;
    /* padding-top: -90; */

}

.view-profile-btn{
    background: #E35F0D;
    border: 1px solid #E35F0D;
    box-sizing: border-box;
    border-radius: 4px;
    /* padding: 10px; */
    margin-bottom: 20px;
    color: #FFFFFF;
    border: 1px solid #E35F0D
}

.all-premium{
    margin-top: 100px;
    margin-bottom: 100px;
    color: #FFFFFF;
    height: 50px;
    background: #E35F0D;
    border-radius: 5px; 
}

.work-intro{
    font-family: Roboto Slab;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    
}

.work-header{
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    
}

/* premium dev section */

.premium{
    padding-top: 100px;
    overflow: visible;
    z-index: 2;
}

.premium-club-header{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.8);
}

.premium-club-intro{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;

}
.premium-club-content{
    padding: 20px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    
    color: rgba(0, 0, 0, 0.8);

}
.premium-club-header2{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.8);
    padding: 20px;
}

.premium-club-link{
    color: #E35F0D;
    text-decoration: none;
    font-size: 28px;
    font-weight: 500;
    padding: 20px;
}
.premium-club-link:hover{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

/* Styling for partner section */
.partner-header{
    font-family: Roboto Slab;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    padding: 50px;

}
.partner-link{
    color: #E35F0D;
    text-decoration: none;
}

.partner-link:hover{
    text-decoration: none;
    color: #E35F0D;
    font-weight: bold;
}

.partner-logos{
    height: 80px;
    width: 200px;
    padding: 20px;
    position: relative;
}

.hr-line{
    background: #C4C4C4;
}

/* Whats new in tech starts here*/
.blog-header{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    padding: 60px;
    color: rgba(60, 60, 60, 0.8);
}
/* whats new in tech ends here */

/* get hired first section starts hre */
.get-hired-header{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    padding: 40px;

    color: rgba(0, 0, 0, 0.8);

}
.get-hired-content{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 43px;
    padding: 40px;

}
.get-hired-btn{
    padding: 20px;
    margin-left: 40px;
    background: #ffffff;
    border: 2px solid #E35F0D;
    color: #E35F0D;
    border-radius: 1px;
    
}
/* get hired first section ends here */