

.logo{
    height: 160px;
    width: 140px;
    margin-left: 290px;
    padding: 10px;
    
}
.header-text{
    padding: 10px;
    margin-left: 240px;
  
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
}
/* .form{
    padding-top: 40px;
    padding-bottom: 40px;
  
} */
/* .login-row{
    margin-left: 60px;
    margin-right: 60px;
} */
.sign-in-btn{
    background: #E35F0D;
    color: #ffffff;
}
.forgot-password{
    padding: 10px;
    margin-left: 280px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: rgba(227, 95, 13, 0.8);
}

.forgot-password:hover{
    text-decoration: none;
    font-weight: bold;
    color: #E35F0D;
}

.new-to{
    padding: 5px;
    margin-left: 240px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 43px;
}

.new-to a{
    text-decoration: none;
    color: #E35F0D;
}

.new-to a:hover{
    font-weight: bold;
}

.consent{

font-family: Raleway;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 43px;
/* or 179% */
color: rgba(0, 0, 0, 0.8);

}

.consent a{
    text-decoration: none;
    color: #E35F0D;
}