.navItems{
    margin-left: 150px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    background: transparent;
    color: #FFFFFF;

}
.navItems.link:hover{
    color: #E35F0D;
    font-weight: bold;
}

 .main-nav{ 
    background: #1C2327;
    border: 1px solid #000000;
    box-sizing: border-box; 
} 

.right-nav{
    margin-left: 50px; 
    font-size: 20px;
} 
.signup-btn.btn-primary{
    background-color: #E35F0D;
    border-radius: 5px;
    border: none;
    padding: 15px;
    margin: 0px;
    font-family: Roboto Slab;
    font-style: normal;
    font-size: 20px;
}

.nav-logo{
    height: 60px;
    width: 58px;
}


.signup-btn{
    width: 130px;
    height: 60px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
} 
 .signup-btn.btn-primary:hover{
    color: #E35F0D;
    font-weight: bold;
    background: #000000;
    

}

.login{ 
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-right: 30px;
    margin-top: 5px;

    color: #FFFFFF; 
}  