:root{
    --primary :  rgba(227, 95, 13, 1);
}
.btn{
    padding: 8px 20px;
    outline: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    padding: 8px 20px;
    transition: all 0.3s ease-out;
    background: #ffffff;
    color: #1c1c1c;
    transition: 250ms;
}

.btn--primary{
    background-color: var(--primary);
}

.btn--outline{
    background: transparent;
    color: #ffffff;
    padding: 8px 20px;
    border-radius: 4px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--medium{
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 18px;
    color: #ffffff;
}

.btn--large{
    padding: 12px 26px;
    border-radius: 4px;
    font-size: 20px;
    color: #ffffff;
}