.intro-row{
  
    left: 607px;
    top: 164px;
    border-radius: 0px; 
    padding-right: 80px;
    padding-left: 80px;

}

.header{
    padding-top: 150px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 79px;
    color: #FFFFFF;
}
.info-content{
    padding-top: 50px;
    color: #FFFFFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.hiring{
    color:#E35F0D;
    font-size: 30px;
    text-decoration: none;
    font-weight: 700px;
    
}

.info-image{
    margin-top: 100px;
    
    @media 
    (-webkit-min-device-pixel-ratio: 2), 
    (min-resolution: 192dpi) { 
        .info-image {
        background-image: url(../../images/new-employee-removebg.png);
        }
    }
} 
.join-header{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: rgba(237, 247, 250, 0.7);
    padding-top: 120px;

}
.search{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(227, 95, 13, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10p
}
.row-items{
    padding: 40px;
}
.featured-devs-header{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 43px;
    text-align: right;
    padding-top: 100px;
    color: #FFFFFF;
}

.featured-devs-intro{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 43px;
    padding-top: 20px;
    text-align: right;
    color: rgba(255, 255, 255, 0.8);
}

.card-items{
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: rgba(0, 0, 0, 0.25);
    /* background: rgba(0, 0, 0, 0.25); */
}

.dev-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 50%;
    border-radius: 100px;
    top: -100px;
    /* padding-top: -90; */

}

.view-profile-btn{
    background: #E35F0D;
    border: 1px solid #E35F0D;
    box-sizing: border-box;
    border-radius: 4px;
    /* padding: 10px; */
    margin-bottom: 20px;
    color: #FFFFFF;
    border: 1px solid #E35F0D
}

.all-premium{
    margin-top: 100px;
    margin-bottom: 100px;
    color: #FFFFFF;
    height: 50px;
    background: #E35F0D;
    border-radius: 5px; 
}

.work-intro{
    font-family: Roboto Slab;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    
}

.work-header{
    font-family: Raleway;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    
}

.premium{
    text-align: right;
    padding-top: 50px;
}

.premium-club-header{
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 43px;
    text-align: right;

    color: rgba(0, 0, 0, 0.8);
}

.premium-club-intro{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #000000;
    text-align: right;

}